* {
    padding: 0;
    margin: 0;
}
.navbar {
    background-color:#c942c9;
    padding: 10px;
    width: 1255px;
    height: 46px;
}
.Nalpet {
    text-align: right;
}

span {
    width: 55.57px;
    height: 20px;
    margin: 0px 0px 0px 4.2px;
    color: #ffff;
    font: 14px sans-serif;
}

.test {
    width: 45%;    
    display: flex;
    height: 74px;
    color: #ffff;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
}
.container {
    height: 62px;
}
.container2 {
    /* width: 100%; */
    height: 62px;
    color: #58595B;
    font: 20px sans-serif;

}
nav ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
}
nav li {
    padding: 0 20px 10px;
}
nav li:hover {
    border-bottom: 3px solid #e900c6;
}
.image-container {
    display: flex;
    justify-content: space-between;
}
.image-container img {
    max-width: 20%;
}
h1 {
    text-align: center;
    padding-top: 50px;
}
.Paragrap1 {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 30px;
}
.Paragrap2 {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 30px;
}
    h2 {
        padding-top: 15px;
        padding-bottom: 30px;
        text-align: center;
        padding-top: 50px;
    }
    .image-container2 ul {
        display: flex;
        gap: 70px;
        flex-wrap: wrap;
        list-style: none;
        padding: 0 100px;

    }
    .image-container2 img {
        padding: 0;
    }
    .image-container2 p {
        text-align: center;
        font-weight: bold;
    }
    h3 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        font-weight: bold;
    }
    .image-container3 ul {
        display: flex;
        gap: 60px;
        list-style: none;
    }
    .image-container3 img {
        width: 250px;
        height: 330px;
        padding-left: 5px;
    }
    .Botton {
        height: 50px;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid burlywood;
        border-radius: 40px;
        margin-left: 45%;
        margin-top: 100px;
        background-color: #26B13C;
    }
    .text{
        color: #ffff;
    }
    .text a{
        text-decoration: none;
        color: #ffff;
    }

    .nol {
        display: flex;

        background-color: #c942c9 ;
        margin-top: 200px;
        color: #ffff;
    }
    .satu {
        padding-right: 70px;
        padding-left: 100px;
        padding-top: 25px;
    }
    .dua {
        padding-right: 100px;
        padding-top: 25px;
    }
    .tiga {
        padding-right: 100px;
        padding-top: 30px;
    }
    .empat {
        padding-right: 30px;
        padding-top: 30px;
    }
    .lima {
        padding-top: 25px;
    }